@page {
  size: 297mm 420mm;
  margin: 4mmm 5mm;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: gray;
}

body {
  background-color: white;
}

section#main {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(4, auto);
  gap: 2mm;
  grid-auto-flow: row;
}

.carte {
  background: red;
  /* border: solid black 1mm; */
  border-radius: 3mm;
  width: 100%;
  /* height: 100%; */
  /* width: 57mm; */
  height: 87mm;
}
